<template>
  <div class="head-filter-bar">
  <div>
    Источник:
      <sui-dropdown
        placeholder="Источник"
        selection
        :options="options"
        v-model="current"
      />
    </div>
    <div>
      Историй в текущем блоке: {{ storiesBlockSize }}
      Всего: {{ storiesCount }}
    </div>
  </div>
</template>

<style scoped>
.head-filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  name: 'FilterBar',
  computed: {
    ...mapState({
      options: state => {
        const result = state.stories.source.data.map(v => ({
          text: v,
          value: v,
        }));
        result.unshift({ text: 'Все истории', value: 'all' });
        result.push({ text: 'Не указан', value: 'null' });

        return result;
      },
      storiesBlockSize: state => state.stories.block.size.data,
      storiesCount: state => state.stories.count.data,
    }),
  },
  methods: {
    ...mapActions('stories', ['requestStoriesBlockSize', 'requestStories', 'setCurrentBlock']),
    ...mapActions('routing', ['setPath']),
    goto(path) {
      this.setPath({ $router: this.$router, path });
    }
  },
  watch: {
    current: function (block){
      this.goto(`/stories/block/${block}`);
      this.setCurrentBlock({ blockName: block });
      this.requestStoriesBlockSize({ blockName: block });
      this.requestStories({ block });
    }
  },
  mounted(){
    this.setCurrentBlock({ blockName: this.block || 'all' });
    this.requestStoriesBlockSize({ blockName: this.block || 'all' });
  },
  props: ['block'],
  data: component => ({
    current: component.block || 'all',
  }),
}
</script>