<template>
  <sui-segment basic :loading="storiesState.loading">
    <sui-table celled striped>
      <sui-table-header>
        <sui-table-row>
          <sui-table-header-cell>uID</sui-table-header-cell>
          <sui-table-header-cell>История</sui-table-header-cell>
          <sui-table-header-cell>Рейтинг</sui-table-header-cell>
          <sui-table-header-cell>Статус</sui-table-header-cell>
          <sui-table-header-cell>Добавлена</sui-table-header-cell>
          <sui-table-header-cell>Опубликована</sui-table-header-cell>
          <sui-table-header-cell>Автор</sui-table-header-cell>
          <sui-table-header-cell>Управление</sui-table-header-cell>
        </sui-table-row>
      </sui-table-header>
      <sui-table-row v-for="story in stories" v-bind:key="story.id">
        <StoryItem :story="story" />
        <!-- <LoadingItem colspan="8" /> -->
      </sui-table-row>
      <sui-table-footer>
      <sui-table-row>
        <sui-table-header-cell colspan="8">
          <Pagination :maxPages="maxPages" :currentPage="block.page" :clickHandler="selectMenuItem" />
        </sui-table-header-cell>
      </sui-table-row>
    </sui-table-footer>
    </sui-table>
  </sui-segment>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import StoryItem from '@/components/stories/StoryItem';
import Pagination from '@/components/stories/Pagination';
import LoadingItem from '@/components/stories/LoadingItem';

export default {
  components: {
    StoryItem,
    Pagination,
    LoadingItem,
  },
  methods: {
    ...mapActions('stories', ['setCurrentPage', 'requestStories']),
    selectMenuItem(page) {
      if (page === this.block.page) {
        return false;
      }
      this.setCurrentPage({ page });
      this.requestStories({ blockName: this.block.current, page });
    },
  },
  computed: {
    ...mapState({
      stories: state => state.stories.stories.data,
      storiesState: state => state.stories.stories.state,
      block: state => state.stories.block,
    }),
    maxPages() {
      return Math.ceil(this.block.size.data / this.block.perPage);
    },
  },
}
</script>