<template>
  <sui-table-cell :colspan="colspan"> 
    <sui-segment basic>
      <sui-dimmer active inverted style="background: none">
        <sui-loader content="" />
      </sui-dimmer>
    </sui-segment>
  </sui-table-cell>
</template>

<script>
export default {
  props: ['colspan'],
}
</script>