<template>
  <sui-menu v-sui-floated:right pagination>
    <a
      is="sui-menu-item"
      icon="left chevron"
      :disabled="currentPage <= 1"
      @click="selectPrev"
    />
    <div v-for="page in pages" v-bind:key="page.index">
      <a
        is="sui-menu-item"
        :active="page.active"
        :content="page.content"
        :disabled="page.disabled"
        @click="clickHandler(page.index)"
      />
    </div>
    <a
      is="sui-menu-item"
      icon="right chevron"
      :disabled="currentPage === maxPages"
      @click="selectNext"
    />
  </sui-menu>
</template>

<script>

export default {
  props: {
    currentPage: {
      type: Number,
      required: true,
    },
    maxPages: {
      type: Number,
      required: true,
    },
    clickHandler: {
      type: Function,
      default: () => { }
    },
  },
  methods: {
    selectPrev: function() {
      if (this.currentPage - 1 > 0) {
        this.clickHandler(this.currentPage - 1);
      }
    },
    selectNext: function() {
      if (this.currentPage + 1 <= this.maxPages) {
        this.clickHandler(this.currentPage + 1);
      }
    },
  },
  computed: {
    pages: function(){
      const result = [];
      const getPage = i => ({
        content: i.toString(),
        index: i,
        disabled: false,
        active: i === this.currentPage,
      });
      const getDotObject = index => ({
        content: '...',
        disabled: true,
        index,
        active: false,
      });

      if (this.maxPages < 7) {
        for (let i = 1; i <= this.maxPages; i += 1) {
          result.push(getPage(i));
        }

        return result;
      }

      if (Math.max(this.currentPage -1, 3) > 3) {
        result.push(getDotObject(-1));
      }

      result.push(getPage(Math.min(Math.max(this.currentPage - 1, 3), this.maxPages - 4)));
      result.push(getPage(Math.min(Math.max(this.currentPage, 4), this.maxPages - 3)));
      result.push(getPage(Math.min(Math.max(this.currentPage + 1, 5), this.maxPages - 2)));

      if (Math.max(this.currentPage + 1, 5) < this.maxPages - 2) {
        result.push(getDotObject(-2));
      }

      return [
        getPage(1),
        getPage(2),
        ...result,
        getPage(this.maxPages - 1),
        getPage(this.maxPages),
      ];
    },
  },
}
</script>