<template>
  <fragment>
    <sui-table-cell>
      {{ story.uID }}
    </sui-table-cell>
    <sui-table-cell single-line>{{ story.title }}</sui-table-cell>
    <sui-table-cell>
      {{ story.likesCount }}
    </sui-table-cell>
    <sui-table-cell>
      {{ storyStatus }}
    </sui-table-cell>
    <sui-table-cell>
      {{ format(story.dateCreated) }}
    </sui-table-cell>
    <sui-table-cell>
      {{ format(story.datePublished) }}
    </sui-table-cell>
    <sui-table-cell>
      {{ story.author ? story.author.username : 'Система' }}
    </sui-table-cell>
    <sui-table-cell>
      <sui-dropdown
        text="Управление"
        button
        pointing
      >
        <sui-dropdown-menu>
          <sui-dropdown-item v-if="this.story.data.status !== 0" v-on:click="changeStatus('clearstatus')" >В новые</sui-dropdown-item>
          <sui-dropdown-item v-if="this.story.data.status !== 1" v-on:click="changeStatus('apply')" >Одобрить</sui-dropdown-item>
          <sui-dropdown-item v-if="this.story.data.status !== 2" v-on:click="changeStatus('reject')" >Отклонить</sui-dropdown-item>
          <sui-dropdown-item v-if="this.story.data.status !== 3" v-on:click="changeStatus('publish')" >Опубликовать</sui-dropdown-item>
        </sui-dropdown-menu>
      </sui-dropdown>
    </sui-table-cell>
  </fragment>
</template>

<script>
import moment from 'moment';
import { mapActions } from 'vuex';

export default {
  props: ['story', 'loading'],
  methods: {
    ...mapActions('stories', ['setStoryStatus']),
    format: v => (v ? moment(v).format('DD-MM-YYYY HH:mm') : 'Нет'),
    changeStatus: function(action) {
      const { uID } = this.story;

      this.setStoryStatus({ uID, action })
    },
  },
  computed: {
    storyStatus: function() {
      const STATUSES = [
        'Новая',
        'Отклоненная',
        'Одобренная',
        'Опубликованная',
      ];

      return STATUSES[this.story.data.status];
    }
  },
}
</script>