<template>
  <div class="home">
    <AppBoard />
  </div>
</template>

<script>
// @ is an alias to /src
import AppBoard from '@/components/AppBoard.vue'

export default {
  name: 'home',
  components: {
    AppBoard
  }
}
</script>
