<template>
  <div class="login-card">
    <sui-form @submit.prevent="handleSubmit" class="login-form">
      <h1 is="sui-header">Авторизация</h1>
      <sui-form-field>
        <label>Логин</label>
        <input type="text" placeholder="Логин" v-model="username" name="username">
      </sui-form-field>
      <sui-form-field>
        <label>Пароль</label>
        <input type="password" placeholder="Пароль" v-model="password" name="username">
      </sui-form-field>
      <sui-button type="submit" :disabled="!(username && password)" >Вход</sui-button>
      <p v-if="account.msg">{{ account.msg }}</p>
    </sui-form>
  </div>
</template>

<style scoped>
.login-form {
  max-width: 350px;
  background: white;
  padding: 20px 30px;
  border-radius: 5px;
  margin: 0 auto;
}
</style>


<script>
import { mapState, mapActions } from 'vuex';

export default {
  data: () => ({
    username: '',
    password: '',
  }),
  computed: {
    ...mapState(['account']),
  },
  created() {
    if (this.account.user) {
      this.$router.push({ 'path': '/' })
    }
  },
  methods: {
    ...mapActions('account', ['login']),
    handleSubmit(e) {
      const { username, password } = this;

      if (username && password) {
        this.login({ username, password }).then(()=>{
          this.$router.push({ 'path': '/' })
        })
      }
    }
  }
}
</script>

