<template>
  <sui-segment class="content">
    <sui-dimmer :active="state.loading">
      <sui-loader />
    </sui-dimmer>
    <sui-table celled>
      <sui-table-header>
        <sui-table-row>
          <sui-table-header-cell>Источник</sui-table-header-cell>
          <sui-table-header-cell>Новых</sui-table-header-cell>
          <sui-table-header-cell>Отклонённых</sui-table-header-cell>
          <sui-table-header-cell>Одобренных</sui-table-header-cell>
          <sui-table-header-cell>Опубликованных</sui-table-header-cell>
        </sui-table-row>
      </sui-table-header>
      <sui-table-body>
        <sui-table-row v-for="item in stats" :key="item.from">
          <sui-table-cell>
            <router-link :to="'/stories/block/' +item.from">{{item.from || "Не указан"}}</router-link>
            </sui-table-cell>
          <sui-table-cell>{{item.status[0]}}</sui-table-cell>
          <sui-table-cell>{{item.status[1]}}</sui-table-cell>
          <sui-table-cell>{{item.status[2]}}</sui-table-cell>
          <sui-table-cell>{{item.status[3]}}</sui-table-cell>
        </sui-table-row>
      </sui-table-body>
    </sui-table>
  </sui-segment>
</template>

<script>
import { mapState } from 'vuex';

export default {
  // name: 'AppBoard',
  computed: {
    ...mapState({
      state: state => state.stories.stats.state,
      stats: state => state.stories.stats.data,
    })
  }
}
</script>

<style scoped>
 .content {
   min-height: 500px;
 }
</style>
