<template>
  <div class="nav">
    <div class="wrap">
      <ul class="head-menu">
        <li><router-link to="/stories/block">Истории</router-link></li>
        <li><router-link to="/users">Пользователи</router-link></li>
        <li><router-link to="/tags">Метки</router-link></li>
        <li style="flex-grow: 1"><router-link to="/widgets">Инструменты</router-link></li>  
        <li><a href="#" v-on:click="handleLogout">Выйти</a></li>  
      </ul>
    </div>
  </div>
</template>

<style>
.nav {
  background: rgba(0,0,0,0.9);
  padding: 1px 0;
}

ul.head-menu {
  list-style:none;
  position: relative;
  text-align: left;
  display: flex;
}

ul.head-menu li {
  /*position:relative;*/
  display:inline;
  line-height: 0px;
}

ul.head-menu li a {
  text-decoration:none;
  color: white;
  display:inline-block;
  padding:10px;
  font-family:'Trebuchet MS';
  font-size:17px;
}

ul.head-menu span {
  display:block;
  width:calc(100% - 23px);
  height:4px;
  background: white;
  position:absolute;
  left:10px;
  bottom:-10px;
}
ul.head-menu  li a.router-link-active {
  color: #ff6868;
}

ul.head-menu  li a:hover {
  color: red;
}

ul.head-menu  li a:hover ~ span {
 	 animation:ul 0.3s ease-out;
   /*background:#0088CC;*/
   background: #ff6868;
}
</style>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'AppNav',
    methods: {
    ...mapActions('account', ['logout']),
    handleLogout(e) {
      this.logout(this.$router);
    },
  },
};
</script>
