<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css">
  </head>
  <body>
    <div id="app"></div>
    <% if(session){ %>
      <script data-key="auth">
        window.session = <%-JSON.stringify(session)%>;
      </script>
    <% } %>
    <script src="/js/index.js"></script>
  </body>
</html>