<template>
  <sui-segment class="content">
    <FilterBar :block="blockName"/>
    <hr />
    <List />
  </sui-segment>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import FilterBar from '@/components/stories/FilterBar.vue';
import List from '@/components/stories/List';

export default {
  components: {
    FilterBar,
    List,
  },
  methods: {
    ...mapActions('stories', ['requestSource', 'requestStories', 'requestStoriesCount']),
  },
  computed: {
    ...mapState({
      stateOptions: state => state.stories.source.state,
    }),
  },
  props: ['blockName'],
  mounted() {
    this.requestSource();
    this.requestStoriesCount();
    this.requestStories({ blockName: this.blockName });
  },
};
</script>