<template>
  <div id="app">
    <div class="app-header">
      <router-link title="Страшные истории" to="/">
        <img class="scary-label" src="/images/logo.png">
      </router-link>
    </div>
    <AppNav v-if="user" />
    <div class="content">
      <div class="wrap">
        <router-view/>
      </div>
    </div>
  </div>
</template>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.app-header {
  width: 100%;
  padding: 10px 40px 0px;
  background: rgba(0,0,0,0.6);
  text-align: left;
}

.app-header a {
  display: inline-block;
}

.scary-label {
  height: 50px;
}

body {
  background: #000 url(/images/bg.jpg) top center fixed no-repeat;
}

.wrap {
  width: 85%;
  margin: 10px auto;
}

/* .content {
  background: white;
  padding: 10px 0px;
} */

.wrap.content {
  width: 95%;
}
</style>

<script>
import { mapState } from 'vuex'

// @ is an alias to /src
import AppNav from '@/components/AppNav.vue'

export default {
  name: 'App',
    computed: {
      ...mapState({
          user: state => state.account.user,
    })
  },
  components: {
    AppNav
  }
}
</script>
